# --- CONFIGURACIÓN DE POSTGRESQL ---
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña
POSTGRES_DB=tu_base_de_datos
POSTGRES_PORT=tu_puerto

# --- CONFIGURACIÓN DE INFLUXDB ---
INFLUXDB_USERNAME=tu_usuario
INFLUXDB_PASSWORD=tu_contraseña
INFLUXDB_ORG=tu_organizacion
INFLUXDB_BUCKET=tu_bucket
INFLUXDB_TOKEN=tu_token
INFLUXDB_PORT=tu_puerto